*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    flex-direction: column;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: rgb(231, 228, 228);
    padding: 20px;
    margin-top: 50px;
}

#form h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 1rem;
}

.form-group{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}